@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@media only screen and (max-width: 720px) {
    div.container {
        display: flex;
        flex-direction: column;
    }

    .input-section {
        margin-bottom: 2%;
    }

    .show-section {
        overflow: auto;
        height: auto;
    }

}

:root {
    --blue: #1B98E0;
    --blue-hover: #006494;
    --gray: #D2D2D2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.12);
    padding: 2%;
    font-family: 'Noto Sans JP', sans-serif;
}

textarea {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 auto;
}

button {
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    color: #FFF;
    border: none;
    background: var(--blue);
    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    background: var(--blue-hover);
}

.container{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    column-gap: 1%;
}

.container > div {
    border-radius: 10px;
    background: #FFF;
    padding: 3%;
}

.input-section section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-section h4{
    margin-bottom: 10px;
}

.input-section #input-block {
    resize: none;
    height: 200px;
    width: 80%;
}

.input-section button {
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 12pt;
}

.show-section {
    height: 92vh;
    overflow: auto;
}

.panel {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    flex-direction: column;
}

.card {
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    min-height: 100px;
    margin: 10px auto;
}

.play-audio {
    float: right;
}

.disabled {
    background: var(--gray);
    pointer-events: none;
    cursor: not-allowed;
    color: rgb(94, 94, 94);
}